//gitignore for swift


.DS_Store
xcuserdata/
*.xcuserstate
*.xcodeproj/xcuserdata/
*.apns
*.p8
*.cer
*.p12
*.ipa
*.mobileprovision
*.dSYM.zip
*.dSYM
fastlane/*
output
build/
/.build
DerivedData/
.swiftpm/
.netrc
/Packages
.env

WeatherCheck.xcodeproj/xcuserdata/*
WeatherCheck.xcodeproj/project.xcworkspace/xcuserdata/

